.weather {
  cursor: pointer;
  background-color: lightcyan;
  color: grey;
  border-radius: 30px;
  padding: 2rem;
  height: 300px;
  width: 300px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-out;

  &--forecast {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.3rem;
    justify-content: center;
    padding: 1rem;
    transition: all 0.5s ease-out;
  }

  &__current-temp {
    font-size: 3.5rem;
  }

  &__current-icon {
    width: 60px;
  }

  &__forecast {
    width: 100%;
    max-width: 300px;
    background-color: rgb(218, 252, 252);
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
    animation: fadeIn 4s;

    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover {
      background-color: lightcyan;
    }

    .forecast__hl {
      font-size: 3.5rem;

      span {
        color: lightgray;
      }
    }

    .forecast__icon {
      width: 60px;
    }

    .forecast__condition {
      font-size: 1.2rem;
    }

    .forecast__sun {
      width: 100%;
      display: flex;
      gap: 0.4rem;
      align-items: center;
      font-size: 0.8rem;

      .sun__rise,
      .sun__set {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.3rem;
      }

      .sun__icon {
        width: 20px;
      }
    }
  }
}
