.weather {
  cursor: pointer;
  background-color: lightcyan;
  color: grey;
  border-radius: 30px;
  padding: 2rem;
  height: 300px;
  width: 300px;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--forecast {
    // display: none;
    width: 100%;
  }

  &__current-temp {
    font-size: 3.5rem;
  }

  &__current-icon {
    width: 60px;
  }
}
